In [2]:
import pandas as pd
from datetime import datetime, date, timedelta

In [4]:
df = pd.read_csv('green_tripdata_2019-01.csv', nrows=100)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               100 non-null    int64
 1   lpep_pickup_datetime   100 non-null    object
 2   lpep_dropoff_datetime  100 non-null    object
 3   store_and_fwd_flag     100 non-null    object
 4   RatecodeID             100 non-null    int64
 5   PULocationID           100 non-null    int64
 6   DOLocationID           100 non-null    int64
 7   passenger_count        100 non-null    int64
 8   trip_distance          100 non-null    float64
 9   fare_amount            100 non-null    float64
 10  extra                  100 non-null    float64
 11  mta_tax                100 non-null    float64
 12  tip_amount             100 non-null    float64
 13  tolls_amount           100 non-null    float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  100 non-null    float64
 16  total_amount           100 non-null    float64
 17  payment_type           100 non-null    int64
 18  trip_type              100 non-null    int64
 19  congestion_surcharge   0 non-null      float64
dtypes: float64(10), int64(7), object(3)
memory usage: 15.8+ KB

In [6]:
df = pd.read_csv('green_tripdata_2019-01.csv', parse_dates=['lpep_pickup_datetime', 'lpep_dropoff_datetime'], dtype={'RatecodeID': float, 'store_and_fwd_flag': str})

In [8]:
df[['lpep_pickup_datetime', 'lpep_dropoff_datetime']].agg([min, max])

    lpep_pickup_datetime lpep_dropoff_datetime
min  2009-01-01 00:05:59   2009-01-01 00:06:03
max  2019-02-01 21:51:23   2019-02-01 23:10:47

In [13]:
# Question 3: Count records  (Multiple choice)
# How many taxi trips were totally made on January 15?

test = df[(df.lpep_pickup_datetime >= datetime(2019, 1, 15)) & (df.lpep_pickup_datetime < datetime(2019, 1, 16)) & (df.lpep_dropoff_datetime >= datetime(2019, 1, 15)) & (df.lpep_dropoff_datetime < datetime(2019, 1, 16))]

In [14]:
test.count()

VendorID                 20530
lpep_pickup_datetime     20530
lpep_dropoff_datetime    20530
store_and_fwd_flag       20530
RatecodeID               20530
PULocationID             20530
DOLocationID             20530
passenger_count          20530
trip_distance            20530
fare_amount              20530
extra                    20530
mta_tax                  20530
tip_amount               20530
tolls_amount             20530
ehail_fee                    0
improvement_surcharge    20530
total_amount             20530
payment_type             20530
trip_type                20530
congestion_surcharge         0
dtype: int64

In [19]:
# Question 4: Largest trip for each day (Multiple choice)
# Which was the day with the largest trip distance?

max_dist = df.trip_distance.max()
print(f'{max_dist}')
df[df.trip_distance == max_dist][['lpep_pickup_datetime', 'lpep_dropoff_datetime', 'trip_distance']]

117.99

       lpep_pickup_datetime lpep_dropoff_datetime  trip_distance
297377  2019-01-15 19:27:58   2019-01-15 22:59:01         117.99

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630918 entries, 0 to 630917
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               630918 non-null  int64
 1   lpep_pickup_datetime   630918 non-null  datetime64[ns]
 2   lpep_dropoff_datetime  630918 non-null  datetime64[ns]
 3   store_and_fwd_flag     630918 non-null  object
 4   RatecodeID             630918 non-null  float64
 5   PULocationID           630918 non-null  int64
 6   DOLocationID           630918 non-null  int64
 7   passenger_count        630918 non-null  int64
 8   trip_distance          630918 non-null  float64
 9   fare_amount            630918 non-null  float64
 10  extra                  630918 non-null  float64
 11  mta_tax                630918 non-null  float64
 12  tip_amount             630918 non-null  float64
 13  tolls_amount           630918 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  630918 non-null  float64
 16  total_amount           630918 non-null  float64
 17  payment_type           630918 non-null  int64
 18  trip_type              630918 non-null  int64
 19  congestion_surcharge   84538 non-null   float64
dtypes: datetime64[ns](2), float64(11), int64(6), object(1)
memory usage: 96.3+ MB

In [31]:
# Question 5: The number of passengers  (Multiple choice)
# In 2019-01-01 how many trips had 2 and 3 passengers?

df_20190101 = df[(df['lpep_pickup_datetime'] >= '2019-01-01') & (df['lpep_pickup_datetime'] < '2019-01-02')
                # & (df['lpep_dropoff_datetime'] >= '2019-01-01') & (df['lpep_dropoff_datetime'] < '2019-01-02')
                ]
df_20190101['passenger_count'].value_counts()

1    12415
2     1282
5      616
6      273
3      254
4      129
0       21
Name: passenger_count, dtype: int64

In [32]:
# Question 6: Largest tip (Multiple choice)
# For the passengers picked up in the Astoria Zone which was the drop up zone that had the largest tip?

zones = pd.read_csv('taxi+_zone_lookup.csv')

In [35]:
zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [48]:
for col in ['Borough', 'Zone', 'service_zone']:
    print(f'For column {col} values are: {zones[col].unique()[:10]}')

For column Borough values are: ['EWR' 'Queens' 'Bronx' 'Manhattan' 'Staten Island' 'Brooklyn' 'Unknown']
For column Zone values are: ['Newark Airport' 'Jamaica Bay' 'Allerton/Pelham Gardens' 'Alphabet City'
 'Arden Heights' 'Arrochar/Fort Wadsworth' 'Astoria' 'Astoria Park'
 'Auburndale' 'Baisley Park']
For column service_zone values are: ['EWR' 'Boro Zone' 'Yellow Zone' 'Airports' nan]

In [36]:
zones[zones.Zone == 'Astoria']['LocationID'].unique()

array([7])

In [43]:
max_tip = df[df.PULocationID == 7]['tip_amount'].max()

In [44]:
max_tip

88.0

In [45]:
df[df.tip_amount == max_tip].head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
506162,2,2019-01-26 00:46:06,2019-01-26 00:50:10,N,1.0,7,146,1,0.92,5.5,0.5,0.5,88.0,0.0,NaN,0.3,94.8,1,1,NaN

In [46]:
zones[zones.LocationID == 146]

     LocationID Borough                           Zone service_zone
145         146  Queens  Long Island City/Queens Plaza    Boro Zone